<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="reblogbr">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">
        <meta name="robots" content="index, follow"> 
        <meta name="og:type" content="website" />
        @if (ViewBag.Description != null)
        {
            <meta name="description" content="@ViewBag.Description">
        }
        @if (ViewBag.Keywords != null)
        {
            <meta name="keywords" content="@ViewBag.Keywords"/>
        }
        @if (ViewBag.OgImg != null)
        {
            <meta property="og:image" content="@ViewBag.OgImg" />
        }
        @if (ViewBag.OgUrl != null)
        {
            <meta property="og:url" content="@ViewBag.OgUrl" />
        }
        @if (ViewBag.OgTitle != null)
        {
            <meta property="og:title" content="@ViewBag.OgTitle" />
        }
        @if (ViewBag.OgDescription != null)
        {
            <meta property="og:description" content="@ViewBag.OgDescription" />
        }
        <title>
            @if (string.IsNullOrEmpty(ViewBag.Title))
            {
                @:reblog - Agregador de Links e Conteúdo
            }
            else
            {
                @ViewBag.Title
            }
        </title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
        <![endif]-->

        <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
          {lang: 'pt-BR'}
        </script>

        <link rel="stylesheet" href="~/Content/bootstrap-override.css" />
          <script>
              (function (i, s, o, g, r, a, m) {
                  i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                      (i[r].q = i[r].q || []).push(arguments)
                  }, i[r].l = 1 * new Date(); a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
              })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

              ga('create', 'UA-45169456-1', 're.blog.br');
              ga('send', 'pageview');

          </script>
    </head>
<!-- NAVBAR
================================================== -->

    <body>
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=402775926490047";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand navbar-left" href="@Url.Action("Index", "Home")">reblog</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")">home</a></li>
                <li><a href="@Url.Action("Top", "Home")">mais lidas</a></li>
                <li><a href="@Url.Action("Blogs", "Home")">blogs</a></li>
                <li><a href="@Url.Action("About", "Home")">sobre</a></li>
                <li><a href="javascript:window.open('mailto:boss@re.blog.br');">contato</a></li>
              </ul>
              <div class="navbar-collapse collapse navbar-right">
                  @*<ul class="nav navbar-nav">
                    <li><a onclick="javascript:return confirm('Você tem mais de 18 anos?');" href="@Url.Action("FapIndex", "Home")" style="color: #f00">+18</a></li>
                  </ul>*@
              </div>
            </div><!--/.navbar-collapse -->
          </div>
        </div>
        
        <div class="row">  
            <hr />     
            <div class="text-center hidden-xs">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- reblog header -->
            <ins class="adsbygoogle"
                    style="display:inline-block;width:728px;height:90px"
                    data-ad-client="ca-pub-9271797057162180"
                    data-ad-slot="3965510003"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
                </div>
            <hr />     
        </div>

        @RenderBody()
        
        <hr />    
        <div class="container">      
            <footer>
                <div class="text-center">
                    <hr />
                    <div class="fb-like" data-href="https://www.facebook.com/reblogbr" data-width="600" data-height="80" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>
                    <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/106586085709771017525" data-rel="publisher"></div>
                </div>
                <hr />
                <p class="pull-right"><a href="#">voltar para o topo.</a></p>
                <p>&copy; @DateTime.Now.Year reblog. &middot; <a href="@Url.Action("About", "Home")">sobre</a></p>
          </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.min.js"></script>
        <script src="~/Scripts/lazyload.min.js"></script>
        @RenderSection("scripts", required: false)
      </body>
</html>